.inline-block {
    display: flex;
    align-items: center;
}

.logo {
    width: 23%;
    padding: 1;
    text-align: center;
}

header {
    width: 73%;
    padding:10px;
}

ul { 
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content{
    width: 900px;
}

.footer {
    background-color: white;
    padding: 20px;
    color: black;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;  
   
}

.profile{
    width: 500px
}

.body {
    margin:0;
    padding:0;
    height:100%;
    background-color: black;
    color: white;
 }
 .container {
    min-height:100%;
    position:relative;
 }

 .myWork {
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "travel annarose hair";
}

 .TravelApp {
     width: 500px;
     font-size: 24px;
     grid-area: travel
 }

 .AnnaRose {
    width: 500px;
    font-size: 24px;
    grid-area: annarose
}

.HairApp {
    width: 500px;
    font-size: 24px;
    grid-area: hair
}
 .myWorkImg {
     width: 500px;
 }

 @media only screen and (max-width: 600){
    
 }

